@model IEnumerable<RestaurantReservationSystem.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialRequests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCheckedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Table)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.PhoneFormatted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialRequests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCheckedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Table.Summary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
