@model IEnumerable<RestaurantReservationSystem.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.CustomerDetails)
            </th>          
            <th>
                @Html.DisplayNameFor(model => model.TimeSummary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialRequests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCheckedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Table)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDetails)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSummary)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialRequests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCheckedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Table.Summary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                 <a asp-action="Cancel" asp-route-id="@item.ID">Cancel</a>
            </td>
        </tr>
}
    </tbody>
</table>


<!-- Section to Display All Tables -->
<h2>Available Tables</h2>
<p>Below is a list of all available tables</p>
<p>Click on each table to view more information about the table</p>

<div>
    @foreach (var table in ViewBag.Tables)
    {
        <a class="btn btn-link" role="button" data-bs-toggle="collapse" href="#tableDetails@(table.ID)"
           aria-expanded="false" aria-controls="tableDetails@(table.ID)">
            Table: @table.Summary 
        </a>
      
        <div class="collapse" id="tableDetails@(table.ID)">
            <ul>

                <li>Table Number: @table.TableNumber</li>
                <li>Table Capacity: @table.Capacity</li>
                <li>Table Status: @table.Status</li>
                <li>Table Location: @table.Location</li>
            </ul>
        </div>
        <br />
    }
</div>